<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <param-value>6000</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>com.guohualife.platform.common.api.util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:/config/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>web</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>web</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>
            org.apache.cxf.transport.servlet.CXFServlet
        </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/common/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/common/jsp/error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/common/jsp/error404.jsp</location>
  </error-page>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>bpm.root</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <display-name></display-name>

	<servlet>
		<servlet-name>CacheRefreshServlet</servlet-name>
		<servlet-class>com.guohualife.common.util.cache.servlet.CacheRefreshServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CacheRefreshServlet</servlet-name>
		<url-pattern>/CacheRefreshServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BatchInitServlet</servlet-name>
		<servlet-class>com.guohualife.common.util.quartz.servlet.BatchInitServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BatchInitServlet</servlet-name>
		<url-pattern>/BatchInitServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BpmMQInitServlet</servlet-name>
		<servlet-class>com.guohualife.ebiz.bpm.base.servlet.BpmMQInitServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>BpmMQInitServlet</servlet-name>
		<url-pattern>/BpmMQInitServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CreditAssetServlet</servlet-name>
		<servlet-class>com.guohualife.ebiz.bpm.credit.servlet.CreditAssetServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreditAssetServlet</servlet-name>
		<url-pattern>/CreditAssetServlet</url-pattern>
	</servlet-mapping>
</web-app>